# Telegram / Pyrogram
API_ID=11533511
API_HASH=14e9387e479deb6f4e9ba06046521ca1
BOT_TOKEN=8419753236:AAEp-srQaKYby_Q6C9QZT6xPeHAP_l_WYmU

# RPC (choose primary + fallback)
PRIMARY_RPC_URL=https://api.mainnet-beta.solana.com
FALLBACK_RPC_URL=https://rpc.ankr.com/solana
QUICKNODE_RPC_URL=https://small-methodical-county.solana-mainnet.quiknode.pro/63fbeccc38ec01045e74b8c279a5b432022350a0/
HELLOMOON_RPC_URL=https://rpc.hellomoon.io/
WS_RPC_URL=wss://api.mainnet-beta.solana.com

# Helius
HELIUS_API_KEY=90f5c2ca-c0e2-4e8a-bea5-2046cfef4c0c

# DB
SQLITE_PATH=./bot.db

# Bot
OWNER_USER_ID=5659071825
